:root{
    --header-height: 88px;
    --footer-height: 30px;
    --mobile-height: 60px;
    --primary-color: #1f1d2b;
}

*{
	margin: 0;
	padding: 0;
    line-height: 1.6rem;
	box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

body {
    background-color: #fafafa;
}

img {
    object-fit: cover;
}

i {
    cursor: pointer;
    margin-right: 3px;
}

svg {
    width: 16px;
    position: relative;
    top: 2px;
}

.button {
    cursor: pointer;
    padding: 6px 8px;
    color: #1b1b1b;
    background-color: #efefef;
    border: none;
    text-decoration: none;
}

.input {
    background-color: #353340;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 14px 12px;
    color: #fff;
}

.input-fc:focus, 
.input-fc:not(:placeholder-shown) {
    border: 2px solid #fff;
}

*::-webkit-scrollbar {
    width: 4px;
}
*::-webkit-scrollbar-thumb {
    background-color: #c54242;
    border-radius: 50px;
}

.splide__slide {
    border-radius: 10px;
    /* border: 4px solid #fff305; */
}

.slide--s__item {
    cursor: pointer;
}

.splide__slide>a {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.brand__item--minity {
    padding: 0 10px;
    font-size: 12px;
    color: #fff;
    background-color: #f8f8f883;
    border-radius: 5px;
}

.brand__item--minity {
    padding: 0 10px;
    font-size: 12px;
    color: #fff;
    background-color: #000000be;
    border-radius: 5px;
}

.brand__item--minity.red {
    background-color: #e43838;
    color: #fff;
    font-weight: bold;
}

.brand__item--minity.black {
    background-color: #000000be;
}

.show-on-t-m {
    display: none;
}

.hide-on-t-m {
    display: block;
}

.main__app-box--foot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0;
}

/* Model comment action */
.comment__model {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1f1d2b;
    padding: 8px 16px;
    min-width: 340px;
    min-height: 320px;
    z-index: 3;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(204, 204, 204, 0.03);
}

.comment__model + .comment__model-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000025;
    z-index: 2;
}

.comment__model.hide,
.comment__model.hide + .comment__model-overlay {
    display: none;
}

.comment__model-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #e46565;
}

.comment__model-head > span:first-child {
    font-size: 16px;
    border-bottom: 2px solid;
}

.comment__model-head > span:last-child:hover { 
    filter: brightness(0.94);
    transform: scale(1.04);
}

.comment__model-body {
    max-height: 285px;
    overflow-y: auto;
}

.comment__model-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
    color: #fafafa;
    position: relative;
}

.comment__model-user {
    position: relative;
}

.comment__model-user > img:first-child {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: 1px solid #ccc;
}

.comment__model-user > img:last-child {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 30px;
    bottom: 0;
}

/* Model edit cmt */
.comment__model.edit-cmt {
    min-width: 400px;
}

.comment__model-body.edit-cmt {
    padding: 9px 27px 16px 4px;
}

.comment__model-item.edit-cmt {
    align-items: unset;
    position: relative;
    margin-bottom: 27px;
}

.comment__model-item.edit-cmt span {
    position: absolute;
    font-size: 10px;
    bottom: -21px;
    left: 40px;
    font-style: italic;
    color: #ccc;
}

.comment__model-user.edit-cmt > img {
    width: 30px;
    height: 30px;
    margin-right: 4px;
    left: 0;
    position: relative;
    border-radius: 50px;
    border: 1px solid #ccc;
}

.comment__model-edit--view {
    padding: 3px 6px;
    background-color: #1d3042;
    border-radius: 14px;
    font-size: 12px;
    color: #fafafa;
    flex: 1;
}

.comment__model-edit--view img {
    width: 36px;
    height: 36px;
}

/* Model comment info */
.comment__model.info {
    min-width: 480px;
}
.comment__model-body.info {
    display: flex;
    align-items: center;
}

.comment__model-body-left {
    margin: 10px 20px 20px 10px;
}

.comment__model-body-left img {
    width: 127px;
    height: 127px;
    border-radius: 4px;
    border: 1px solid #c54343;
    object-fit: cover;
}

.comment__model-body-left div {
    background-color: #c54343;
    color: #fafafa;
    text-align: center;
}

.comment__model-body-right {
    flex: 1;
}

.comment__model-body-right ul {
    list-style: none;
}

.comment__model-body-right li {
    color: #fafafa;
    padding: 5px 0;
}

.comment__model-foot {
    text-align: center;
}

.comment__model-foot a {
    text-decoration: none;
    color: #fafafa;
    background-color: #c54343;
    display: block;
    padding: 5px 0;
    margin-top: 20px;
    transition: 0.1s linear;
}

.comment__model-foot a:hover {
    filter: brightness(1.1);
}

.isAdminClass {
    margin-right: 6px; 
    color: #fff!important; 
    user-select: none; 
    letter-spacing: 1px; 
    border-color: #69752e;
    box-shadow: 0 0 6px #8077792e;
    text-shadow: 0 0 2px #fff, 0 0 2px #00d2ff, 0 0 2px #08195d, 0 0 2px #08195d, 0 0 4px #00d2ff, 0 0 5px #00d2ff, 0 0 10px #00d2ff!important;
}

.isModClass {
    margin-right: 6px;
    color: #a6b2ef!important;
    user-select: none;
    letter-spacing: 1px;
    border-color: #828f4f;
    text-shadow: 0 0 2px #fff, 0 0 2px #082329, 0 0 2px #08195d, 0 0 2px #08195d, 0 0 4px #ff005d, 0 0 5px #00d2ff, 0 0 10px #00d2ff!important;
}

.isWBClass {
    margin-right: 6px;
    color: #65c27a!important;
    user-select: none;
    letter-spacing: 1px;
    border-color: #0b8f91;
    text-shadow: 0 0 2px #b4a5ec, 0 0 2px #2f0a51, 0 0 2px #08195d, 0 0 2px #08195d, 0 0 4px #ff005d, 0 0 5px #00d2ff, 0 0 10px #00d2ff!important;
}

.isAdminClassFN {
    color: #08195d!important;
    text-shadow: 0 0 2px #fff, 0 0 2px #00d2ff, 0 0 2px #08195d, 0 0 2px #08195d, 0 0 10px #00d2ff, 0 0 40px #00d2ff, 0 0 50px #00d2ff!important;
    background: url(http://localhost/animeazv2-main/public/assets/client/images/gifs/laplanh.gif) repeat scroll 0 0%,url(http://localhost/animeazv2-main/public/assets/client/images/gifs/samset.gif) repeat scroll 0 0!important;
}
.isModClassFN {
    color: #25d8ce!important;
}
.isWBClassFN {
    color: #9494f1!important;
}

.actrl {
    position: absolute;
    right: 4px;
    top: -21px;
}

.actrl-item {
    color: #fafafa;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

div.light-mode .details__comment-box--cont-head span > span.isAdminClass {
    color: #fff!important;
    border-color: #ffffff00;
    box-shadow: 0 0 2px #201f1f2e;
}

div.light-mode .details__comment-box--cont-head span > span.isModClass {
    color: #6679d3!important;
    border-color: #e94d78;
}

div.light-mode .details__comment-box--cont-head span > span.isWBClass {
    color: #65c27a!important;
    border-color: #35e0bc;
}

div.light-mode .isAdminClassFN {
    color: #e94d78!important;
    text-shadow: unset!important;
}